$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import "../fonts/aokfont";

$aok-green:#16a085;

@mixin icon-font($font-name) {
  @extend .icon-#{$font-name};
}

/* skewed text treatment */
@function textShadowString($offset, $color) {
  $text-shadow:();
  //loop through however many numbers ($offset)
  @for $i from 0 through $offset
  {
    $string: -1*($i+1)+px $i+px 0px $color; 
    $text-shadow: append($text-shadow, $string, comma);
  }
  // return the string of all of these values
  @return $text-shadow;
}

html,body {
  overflow-x: hidden; 
  overflow-y: auto;
}

.aok-product {
  hr {
    border: 1px solid black !important;
    width: 95%;
    margin: 0px auto 5px auto;
  }

  @media (min-width: $screen-sm) {
    hr {
      width: 80%;
    }
    position: absolute;
    top:150px;
    max-width: 50.3%;
    left:60%;
  }
}

.product-name {
  margin: 0px auto 5px auto;
  text-align:center;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 4.0em;
  color: black;

  // text-shadow:textShadowString(10, rgba(0,0,0,0.3));
  // transform:skew(8deg);
}

.product-description {
  margin: 5px auto 5px auto;
  width: 85%;
  text-align:left;
  padding: 5px 15px 10px 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;  
  font-size: 1em;
  @media (max-width: $screen-xs) {
    text-align:left;
    width: 100%;
    margin: 0 auto;
  }
}

.share-button {
  font-family: 'Raleway', sans-serif;
  font-weight: 400; 
  font-size: 1.6em;

  text-align: center;
  vertical-align: middle;

  display: inline-block;

  margin: 0 auto 5px 0;
  padding: 5px 10px;

  cursor: pointer;
  background-image: none;
  background-color: transparent !important;
  white-space: nowrap;

  width: 30%;
  color: black !important;
  border: 2px solid black !important;

  &:hover {
    background-color:$aok-green !important;
    border: 2px solid transparent !important;
    color: #FFF !important;
  }

  @media (min-width: $screen-sm) {
    margin: 0 auto;
  }
}

.share {
  color: black !important;
}

.product-button {
  font-family: 'Raleway', sans-serif;
  font-weight: 400; 
  font-size: 1.6em;

  text-align: center;
  vertical-align: middle;

  display: inline-block;

  margin: 0 auto 5px 0;
  padding: 5px 10px;

  cursor: pointer;
  background-image: none;
  background-color: transparent !important;
  white-space: nowrap;

  width: 65%;
  border: 2px solid black !important;

  &:hover {
    background-color:$aok-green !important;
    border: 2px solid transparent !important;
    color: #FFF !important;
  }

  @media (min-width: $screen-sm) {
    width: 55%;
    margin: 0 auto;
  }
}

.main-footer {
  background: black;
}

.brand-logo-aok {
  @include icon-font(aok-logo){}
  font-size: 120px;
  color: #FFF;

  &:hover {
    color:$aok-green !important;
  }
}

.aok-simple-nav {
  text-align: center;
  position: fixed;
  top:-50px;
  margin: 0 auto;
  width: 100%;
  max-height: 60px;
  z-index: $zindex-navbar;

  @media (max-width: $screen-sm-min) {
    width: 100%;
    color: #000;
  }
}

.split-image {
  width: 100%;
  height: auto;
  @include make-sm-column(6);
}

.message-text {
  h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100; 
    font-size:100px;
    text-align: center;
  }
  position: fixed;
  top:3%;
  display: block;
  width: 100%;
  color: #FFF;
  margin: 0 auto;
  height: auto;
  @media (max-width: $screen-xs) {
    position: absolute;
    z-index: 2000;
    top:290px;
    left:0px;
  }
  @media (min-width:481px) and (max-width:$screen-xs-max) {
    position: absolute;
    z-index: 2000;
    top:742px;
    left:0px;
  }
}

.large-backdrop {
  position:relative;
  width: 100%;
  height: auto;
}

.social-buttons {
  width: 100%;
  color: white;
  font-size: 24px;
  text-align: center;
  padding: 5px 0 0 5px;

  .glyphicon-envelope {
    font-size: 18px !important;
  }

  .tumblr, .twitter, .glyphicon-envelope {
    font-size: 24px;
    margin: 0px 10px 0px 10px;
    &:hover {
      color: $aok-green;
    }
  }
}

a:link {text-decoration:none !important;}
a:visited {text-decoration:none !important;}

  a {
    color:#FFF !important;
  }
  a:hover {
    color:#000 !important;
  }
  a:visited {
    color: #FFF !important;
    text-decoration: none !important;
  }
  a:active {
    color: #FFF !important;
  }

.about{
  text-align:center;
  color:#FFF !important;
  margin-left: 20px; 
  position: relative;
  top:-40px;
  font-family: 'Raleway', sans-serif;
  font-weight:100;
  font-size:2.9em;
  letter-spacing:.095em;
  text-shadow:textShadowString(10, rgba(0,0,0,0.3));
  transform:skew(8deg);
  &:hover {
    color:#000 !important;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 930px;
  }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
      padding-left: 0; 
      padding-right: 0;
  }
  /* Space out the masthead */
  .header {
      margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
      border-bottom: 0;
  }
}

/* sweet sweet masonry styles */
.masonry {
  background: black;
  width: 100%;
}

.masonry .item,
.masonry .grid-sizer {
  @media (max-width: $screen-xs-min) {
    width: 100%;
  }
  @media (min-width: $screen-xs-min) and (max-width:$screen-xs-max) {
    width: 50%;
  }
  width: 33.3%;
  overflow: hidden;
  border: 1px solid black;
  img { 
    width: 100%;
  }
}

/* overlay css */

.overlay {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100% !important;
  perspective: 1200px;
  z-index: $zindex-navbar - 1;
  background: black;
  backface-visibility: hidden;
}

.grid {
  backface-visibility: hidden; 
}

.overlay-close {
  @include icon-font(aok-close){}
  background: transparent;
  border: 1px solid white !important;

  position: absolute;
  top: 5px;
  right: 25px;

  color: white !important;
  font-size: 80px !important;
  opacity: 1 !important;
  z-index: $zindex-navbar+2;
}

.carousel-image {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.caption {
  position: absolute;
  bottom: 5%;

  width: 100%;
  margin: 0 auto;
  padding: 0 10%;

  font-family: 'Raleway', sans-serif;
  font-weight: 100; 
  font-size: 20px;
  
  color: white;
  z-index: $zindex-navbar+1;
}

.caption-mobile {
  @media (min-width: $screen-xs) {
    display: none;
  }

  @media(max-width: $screen-xs-min) {
    margin: 0% 5% 5% 0%;
    padding: 0% 0% 0% 12%;
  }

  position: relative;
  bottom: 5%;
  
  display: inline-block;
  color: white;
  clear: both;
  padding-left: 17%;
  padding-right: 17%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 100; 
  font-size: 20px;
  margin: 0 auto 0 auto;
  border: 1px solid white;
}

.aok-carousel-control {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.aok-carousel-control-prev {
  left: -170px; 
  opacity: 0.4 !important;

  animation: moveArrowLeft 0.2s ease both;

  &:hover {
    opacity: 1.0 !important;
    animation: moveArrowRight 0.2s ease both;
  }

  &:before {
    @include icon-font(aok-left-arrow){}
    line-height: 0 !important;
    color: gray;
    content: "\f102" !important;
    font-size: 480px;
  }
}

.aok-carousel-control-next {
  right:-145px;
  opacity: 0.4 !important;
  
  animation: moveArrowRight 0.2s ease both;

  &:hover {
    opacity: 1.0 !important;
    animation: moveArrowLeft 0.2s ease both;
  }

  &:before {
    @include icon-font(aok-right-arrow){}
    line-height: 0 !important;
    color: gray;
    content: "\f104" !important;
    font-size: 480px;
  }
}

.overlay.ng-enter {
  animation: enterFromTop 0.4s ease both;
}

.overlay.ng-leave {
  animation: exitFromBottom 0.4s ease both;
}

/* overlay keyframes */

@keyframes enterFromTop {
  from {
    opacity: 0.3; 
    transform: translate(0%,-100%); 
    background-color:transparent;
  }

  to {
    opacity: 1.0;
    transform: translate(0%,0%);
    background-color:black;
  }
}

@keyframes exitFromBottom { 
  from {
    opacity: 1.0;  
    transform: translate(0%,0%); 
    background-color:black;
  }

  to {
    opacity: 0.3;
    transform: translate(0%,100%);
    background-color:transparent;
  }
}

/* carousel keyframes */

@keyframes moveArrowRight {
    from {
    transform: translate(0%,0%); 
  }

  to {
    transform: translate(5%,0%);
  }
}

@keyframes moveArrowLeft {
    from {
    transform: translate(5%,0%); 
  }

  to {
    transform: translate(0%,0%);
  }
}
