$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import "../fonts/aokfont";

/* http://css-tricks.com/perfect-full-page-background-image/ */
.full-screen-gif {
  background: url(http://aok-assets.s3.amazonaws.com/aok-site/images/dart.gif) no-repeat center center fixed; 
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
}

@mixin icon-font($font-name) {
    @extend .icon-#{$font-name};
}

.brand-logo-aok {
  @include icon-font(aok-logo){}
  text-decoration:none;
  font-size: 120px;
  color: #000;
  &:hover {
    color:#555;
  }
}

@function textShadowString($offset, $color) {
  $text-shadow:();

  //loop through however many numbers ($offset)
  @for $i from 0 through $offset{

    $string: -1*($i+1)+px $i+px 0px $color; 
    $text-shadow: append($text-shadow, $string, comma);

  }
  // return the string of all of these values
  @return $text-shadow;
}

// a:hover {text-decoration:none !important; }
a:link {
  text-decoration:none !important;
  color:#FFF !important;
  text-decoration-color: #FFF !important;
}



a:visited {
  text-decoration:none !important;
  text-decoration-color: #FFF !important;
}
// a:hover {text-decoration:underline !important;}
// a:active {text-decoration:underline !important;}

.about{
  a {
  color:#FFF !important;
}
  // a:visited {
  //   text-decoration: none;
  // }
  // a:hover {text-decoration:none !important; }
  // a:link {text-decoration:none !important;}
  // a:visited {text-decoration:none !important;}
  // a:hover {text-decoration:underline !important;}
  // a:active {text-decoration:underline !important;}

  // a:link {color:#000;}      /* unvisited link */
  // a:visited {color:#000;}  /* visited link */
  // a:hover {color:#000;}  /* mouse over link */
  // a:active {color:#FFF;}  /* selected link */
  // text-decoration:none !important;

  text-align:center;
  color:#FFF !important;
  margin-left: 20px; 
  position: relative;
  top:-40px;
  text-transform:uppercase;
  font-family:'Helvetica Neue';
  font-weight:100;
  font-size:3em;
  letter-spacing:.095em;
  text-shadow:textShadowString(10, rgba(0,0,0,0.3));
  transform:skew(8deg);
  &:hover {
    color:#000;
  }
}

.inner-one {
  margin: 0 auto;
  max-width: 320px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
      max-width: 730px;
  }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
      padding-left: 0; 
      padding-right: 0;
  }
  /* Space out the masthead */
  .header {
      margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
      border-bottom: 0;
  }
}
