$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import "../fonts/aokfont";

$aok-green:#16a085;

html,body {
  overflow-x: hidden; 
  overflow-y: auto;
}

.aok-product {
  hr {
    border: 1px solid black !important;
    width: 95%;
    margin: 0px auto 5px auto;
  }

  @media (min-width: $screen-sm) {
    hr {
      width: 80%;
    }
    position: absolute;
    top:150px;
    max-width: 50.3%;
    left:60%;
  }
}

.product-name {
  margin: 0px auto 5px auto;
  text-align:center;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 4.0em;
  color: black;
}

.product-description {
  margin: 5px auto 5px auto;
  width: 85%;
  text-align:left;
  padding: 5px 15px 10px 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;  
  font-size: 1em;
  @media (max-width: $screen-xs) {
    text-align:left;
    width: 100%;
    margin: 0 auto;
  }
}

.product-button {
  font-family: 'Raleway', sans-serif;
  font-weight: 400; 
  font-size: 1.6em;

  text-align: center;
  vertical-align: middle;

  display: inline-block;

  margin: 0px auto 0px auto;
  padding: 5px 10px 0px 10px;

  cursor: pointer;
  background-image: none;
  background-color: transparent !important;
  white-space: nowrap;

  width: 95%;
  border: 2px solid black !important;

  &:hover {
    background-color:$aok-green !important;
    border: 2px solid transparent !important;
    color: #FFF !important;
  }

  @media (min-width: $screen-sm) {
    width: 55%;
    margin: 0 auto;
  }
}

/* http://css-tricks.com/perfect-full-page-background-image/ */
.full-screen-gif {
  background: url(http://aok-assets.s3.amazonaws.com/aok-site/images/dart.gif) no-repeat center center fixed; 
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
}

@mixin icon-font($font-name) {
  @extend .icon-#{$font-name};
}

/* skewed text treatment */
@function textShadowString($offset, $color) {
  $text-shadow:();
  //loop through however many numbers ($offset)
  @for $i from 0 through $offset
  {
    $string: -1*($i+1)+px $i+px 0px $color; 
    $text-shadow: append($text-shadow, $string, comma);
  }
  // return the string of all of these values
  @return $text-shadow;
}

.brand-logo-aok {
  @include icon-font(aok-logo){}
  font-size: 120px;
  color: #FFF;
  &:hover {
    color:$aok-green !important;
  }
}

.aok-simple-nav {
  text-align: center;
  position: fixed;
  top:-50px;
  margin: 0 auto;
  width: 100%;
  max-height: 60px;
  z-index: $zindex-navbar;

  @media (max-width: $screen-sm-min) {
    width: 100%;
    color: #000;
  }
}

.split-image {
  width: 100%;
  height: auto;
  @include make-sm-column(6);
}

.message-text {
  h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100; 
    font-size:100px;
    text-align: center;
  }
  position: fixed;
  top:3%;
  display: block;
  width: 100%;
  color: #FFF;
  margin: 0 auto;
  height: auto;
  @media (max-width: $screen-xs) {
    position: absolute;
    z-index: 2000;
    top:290px;
    left:0px;
  }
  @media (min-width:481px) and (max-width:$screen-xs-max) {
    position: absolute;
    z-index: 2000;
    top:742px;
    left:0px;
  }
}

.large-backdrop {
  position:relative;
  width: 100%;
  height: auto;
}

.social-buttons {
  position: absolute;
  bottom: 20px;
  width: 100%;
  @media (max-width: $screen-xs-max) {
    position: static;
  }

  .glyphicon-envelope {
    position:relative;
    font-size: 18px !important;
  }

  .tumblr, .twitter, .glyphicon-envelope {
    font-size: 24px;
    color: white;
    margin: 0px 10px 0px 10px;
    &:hover {
      color: $aok-green;
    }
    @media (max-width: $screen-xs-max) {
      position: static;
      bottom: 0px;
      color: black;
    }
  }
}

a:link {text-decoration:none !important;}
a:visited {text-decoration:none !important;}

  a {
    color:#FFF !important;
  }
  a:hover {
    color:#000 !important;
  }
  a:visited {
    color: #FFF !important;
    text-decoration: none !important;
  }
  a:active {
    color: #FFF !important;
  }

.about{
  text-align:center;
  color:#FFF !important;
  margin-left: 20px; 
  position: relative;
  top:-40px;
  font-family: 'Raleway', sans-serif;
  font-weight:100;
  font-size:2.9em;
  letter-spacing:.095em;
  text-shadow:textShadowString(10, rgba(0,0,0,0.3));
  transform:skew(8deg);
  &:hover {
    color:#000 !important;
  }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 930px;
  }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
      padding-left: 0; 
      padding-right: 0;
  }
  /* Space out the masthead */
  .header {
      margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
      border-bottom: 0;
  }
}

/* sweet sweet masonry styles */
.masonry {
  background: #000;
  width: 100%;
}

.masonry .item,
.masonry .grid-sizer {
  border: 1px solid black;
  img { 
    width: 100%;
    height: auto;
  }
  @media (max-width: $screen-xs-min) {
    width: 100%;
  }
  @media (min-width: $screen-xs-min) and (max-width:$screen-xs-max) {
    width: 50%;
  }
  width:  33.3%;
}

/* grid overlay styles */

.grid-overlay{
  opacity: 0;
  // position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  cursor: default;
  background-color: $aok-green;
  padding: 0px;
  margin: 0px;

//amen to no accidental text selection --> http://stackoverflow.com/questions/880512/prevent-text-selection-after-double-click
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.close {
  position:absolute;
  top:5px;
  right:5px;
  color:red !important;
  font-size: 40px !important;
  opacity: 1 !important;
  z-index: $zindex-navbar;
}

.detailFooter {
  position: relative;
  color: white;
  width: 100%;
  border: 1px solid black;
}


.layer {
  border: 1px solid red;
  width: 100%;
  height:auto;
}

.caption {
  position: relative;
  top: 100px;
  display: inline-block;
  color: white;
  clear: both;
  padding-left:10%;
  padding-right:10%;
  width:100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 100; 
  font-size: 20px;
  margin: 0 auto;
}

.rn-carousel-control {

}

.rn-carousel-control-prev:before {
  @extend .glyphicon;
  color: gray;
  content: "\e079" !important;
}

.rn-carousel-control-prev {

}

.rn-carousel-control-next:before {
  @extend .glyphicon;
  color: gray;
  content: "\e080" !important;
}

.rn-carousel-control-next {

}

.moving {
    border:1px solid black;
    width: 100%;
    height: 100%;

    position: fixed;
    top:0px;
    background-color: black;
    z-index: $zindex-navbar+1;
    overflow-x: hidden; 
    overflow-y: hidden;

  }
 
.moving.ng-enter {
  -webkit-animation: moveToRight .7s ease both;
  -moz-animation: moveToRight .7s ease both;
  animation: moveToRight .7s ease both;
}

.moving.ng-leave {
  -webkit-animation: moveToLeft .7s ease both;
  -moz-animation: moveToLeft .7s ease both;
  animation: moveToLeft .7s ease both;
}

/* move from / to  */

@keyframes moveToRight {
  from {
         opacity: 0.3; 
         transform: translateX(-100%); 
         background-color:orange;
       }

  to { 
       opacity: 1.0;
       transform: translateX(0%);
       background-color:black;
     }
}

@keyframes moveToLeft { 
    from {
         opacity: 1.0; 
         transform: translateX(0%); 
         background-color:black;
       }

    to { 
         opacity: 0.3;
         transform: translateX(-100%);
         background-color:orange;
    }
}
