
<div ng-include="'partials/navbar'"></div>

<div class="large-backdrop hidden-xs">
  <img class="large-backdrop" src="http://aok-assets.s3.amazonaws.com/aok-site/images/aok-beach.jpg">
</div>

<div class="message-text hidden-xs">
  <h1 data-fittext=".72">EVERYTHING'S</h1>
  <h1 data-fittext=".72">GONNA BE</h1>
  <h1 data-fittext=".72">A-OK</h1>
</div>

<div class="row visible-xs">
  <img class="split-image" src="http://aok-assets.s3.amazonaws.com/aok-site/images/beach-a.jpg">
  <div class="message-text">
    <h1 data-fittext=".72">EVERYTHING'S</h1>
    <h1 data-fittext=".72">GONNA BE</h1>
    <h1 data-fittext=".72">A-OK</h1>
  </div>
  <img class="split-image" src="http://aok-assets.s3.amazonaws.com/aok-site/images/beach-ok.jpg">
</div>

<div ng-include="'partials/tumblr'"></div>

<footer class="main-footer">
  <div class="social-buttons">
    <a href="https://twitter.com/studioaok"><span class="icon-aok-twitter twitter"></span></a>
    <a href="http://everythingsgonnabeaok.tumblr.com"><span class="icon-aok-tumblr tumblr"></span></a>
    <a href="mailto:weare@a-ok.so?Subject=Holla!" target="_top"><span class="glyphicon glyphicon-envelope"></span></a>
  </div>
</footer>
