
<div class="large-backdrop">

  <div ng-include="'partials/navbar'"></div>
  <hr/>
  <h1 class="huge-text" data-fittext="1">WE MAKE</h1>
  <h1 class="huge-text" data-fittext="1">NICE THINGS</h1>
  <h1 class="huge-text" data-fittext="1">FOR NICE</h1>
  <h1 class="huge-text" data-fittext="1">PEOPLE</h1>
  <hr/>

  <div class="row visible-xs">
    <img class="split-image" src="images/part1.jpg">
    <img class="split-image" src="images/part2.jpg">

    <a class="" ng-href="http://www.twitter.com/studioaok"><img class="" src="images/bird_black_48_0.png"></a>
  </div>
</div>
<div ng-include="'partials/tumblr'"></div>

