
  <div ng-include="'partials/navbar'"></div>

  <img class="large-backdrop hidden-xs" src="images/aok-beach.jpg">

  <div class="message-text hidden-xs">
    <h1 data-fittext=".72">WE THINK</h1>
    <h1 data-fittext=".72">IT TAKES</h1>
    <h1 data-fittext=".72">ALL KINDS</h1>
<!--     <h1 data-fittext="1">WE MAKE</h1>
    <h1 data-fittext="1">NICE THINGS</h1>
    <h1 data-fittext="1">FOR NICE</h1>
    <h1 data-fittext="1">PEOPLE</h1> -->

  </div>

  <div class="row visible-xs">
    <img class="split-image" src="images/beach-a.jpg">
    <div class="message-text">
      <h1 data-fittext=".72">WE THINK</h1>
      <h1 data-fittext=".72">IT TAKES</h1>
      <h1 data-fittext=".72">ALL KINDS</h1>
    </div>
    <img class="split-image" src="images/beach-ok.jpg">

    <a ng-href="http://www.twitter.com/studioaok">
      <img src="images/bird_black_48_0.png">
    </a>
  </div>

<div ng-include="'partials/tumblr'"></div>





