<div ng-include="'partials/navbar'"></div>

<boo class="large-backdrop" peeking="25">
  <img class="large-backdrop" src="http://aok-assets.s3.amazonaws.com/aok-site/images/dart.gif">
  <img class="large-backdrop" src="http://aok-assets.s3.amazonaws.com/aok-site/images/dartUnderLayer.jpg">
</boo>

<div class="aok-product">
  <h1 class="product-name">DART</h1>
  <hr>
  <ul class="product-description">
    <li class="hbox">
        <p>jewelry to hold your last cigarette</p>
        <span class="spacer boxFlex"></span>
        <i class="description-list fa fa-check-square-o"></i>
    </li>
    <li class="hbox">
        <p>makes you a sandwich</p>
        <span class="spacer boxFlex"></span>
        <i class="description-list fa fa-square-o"></i>
    </li>
    <a class="description-list" href="https://twitter.com/intent/tweet?button_hashtag=everythingsgonnabeaok&text=My%20story%20is%20about%20what's%20happening%20today?url=www.google.com" target="_blank">
      <li class="hbox">
        <p>tell your friends</p>
        <span class="spacer boxFlex"></span>
        <i class="description-list fa fa-twitter-square"></i>
      </li>
    </a>
  </ul>

  <div class="text-center">
    <button class="btn-default product-button" type="button">
    <span class="icon-aok-dart"></span>
      GET DART
    </button>
  </div>
</div>

<div ng-include="'partials/tumblr'"></div>
<div ng-include="'partials/footer'"></div>
