<div ng-include="'partials/navbar'"></div>

<boo class="large-backdrop" peeking="25">
  <img class="large-backdrop" src="http://aok-assets.s3.amazonaws.com/aok-site/images/dart.gif">
  <img class="large-backdrop" src="http://aok-assets.s3.amazonaws.com/aok-site/images/dartUnderLayer.jpg">
</boo>

<div class="aok-product">
  <h1 class="product-name">DART</h1>
  <hr>
  <ul class="product-description">
    <li class="hbox">
        <p>jewelry to hold your last cigarette</p>
        <span class="spacer boxFlex"></span>
        <i class="description-list fa fa-check-square-o"></i>
    </li>
    <li class="hbox">
        <p>makes you a sandwich</p>
        <span class="spacer boxFlex"></span>
        <i class="description-list fa fa-square-o"></i>
    </li>
    <a class="description-list" href="https://twitter.com/intent/tweet?button_hashtag=everythingsgonnabeaok&text=My%20story%20is%20about%20what's%20happening%20today?url=www.google.com" target="_blank">
      <li class="hbox">
        <p>tell your friends</p>
        <span class="spacer boxFlex"></span>
        <i class="description-list fa fa-twitter-square"></i>
      </li>
    </a>
  </ul>

  <!-- Begin MailChimp Signup Form -->
  <div class="signup" id="mc_embed_signup">
    <form action="http://a-ok.us8.list-manage1.com/subscribe/post?u=15f48cc41e4146e1066d45b17&amp;id=13074940c4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <p class="subscribe-tag"> sign up to find out when dart becomes available!</p>
      <div class="mc-field-group">
        <input type="email" value="" placeholder="email address" name="EMAIL" class="required email dart-email" id="mce-EMAIL">
        <input _class="signUpDart" type="submit" value="Subscribe" name="subscribe" class="btn-default subscribe-button" id="mc-embedded-subscribe">
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;">
        <input type="text" name="b_15f48cc41e4146e1066d45b17_13074940c4" value="email address">
      </div>
      <!-- <div _class="clear"> -->
      <!-- </div> -->
    </form>
  </div>
  <!--End mc_embed_signup-->
  <!--<button class="btn-default product-button" type="button">
    <span class="icon-aok-dart"></span>
      GET DART
    </button> -->
</div>

<div ng-include="'partials/tumblr'"></div>
<div ng-include="'partials/footer'"></div>
