<div ng-include="'partials/navbar'"></div>

<boo class="large-backdrop" peeking="25">
  <img class="large-backdrop" src="http://aok-assets.s3.amazonaws.com/aok-site/images/dart.gif">
  <img class="large-backdrop" src="http://aok-assets.s3.amazonaws.com/aok-site/images/dartUnderLayer.jpg">
</boo>

<div class="aok-product">
  <h1 class="product-name">DART</h1>
  <hr>
  <p class="product-description">dart is a thing that you use to store your most treasured last cigarette and it is also good because it makes your god damned friends jealous and it makes whatever gender of human want to do weird stuff to your genitals.
  </p>
  <div class="text-center">
    <button class="btn-default product-button" type="button">
    <span class="icon-aok-dart"></span>
  GET DART
  </button>
    <a class="btn-default share-button share" href="https://twitter.com/intent/tweet?button_hashtag=everythingsgonnabeaok&text=My%20story%20is%20about%20what's%20happening%20today?url=www.google.com" target="_blank"></a>
  </div>
</div>

<div ng-include="'partials/tumblr'"></div>

<footer class="main-footer">
  <div class="social-buttons">
    <a href="https://twitter.com/studioaok"><span class="icon-aok-twitter twitter"></span></a>
    <a href="http://everythingsgonnabeaok.tumblr.com"><span class="icon-aok-tumblr tumblr"></span></a>
    <a href="mailto:weare@a-ok.so?Subject=Holla!" target="_top"><span class="icon-aok-mail aok-mail"></span></a>
  </div>
</footer>
