<div ng-controller="GridCtrl">
  <div ng-if="show" class="moving">
    <button ng-click="$parent.show = !$parent.show" type="button" class="close grid-close" aria-hidden="true">&times;</button>
    <ul rn-carousel class="image" rn-carousel-buffered="true" rn-carousel-index="slideIndex" rn-carousel-control="true">
      <li ng-repeat="item in grid.tumblrPosts">
        <div class="layer">
          <img class="large-backdrop" ng-src="{{ item.type === 'photo' ? item.mobile_photo_url : item.thumbnail_url }}">
        </div>
        <p class="caption">{{item.caption}}</p>
      </li>
    </ul>
  </div>

 <div class="masonry" masonry column-width=".grid-sizer" item-selector=".item" infinite-scroll="addTumblrPosts()"  infinite-scroll-distance="1" infinite-scroll-immediate-check='true'>
    <div masonry-brick class="item" ng-repeat="item in grid.tumblrPosts">
       <div ng-click="setShown($index)">
        <img ng-src="{{ item.type === 'photo' ? item.mobile_photo_url : item.thumbnail_url }}" alt="A masonry brick">
      </div>
    </div>
  </div>
</div>